@font-face {font-family: "silkscreen";
    src:url("fonts/slkscr.ttf") format("truetype") /* chrome firefox opera Safari, Android, iOS 4.2+*/
}
body {
	font-family: silkscreen;
	margin: 1em;
	padding: 0;
	background: rgb(200,200,200);
	overflow: scroll;
	font-size: 14px;
}

a,
a:hover,
a:link,
a:visited,
a:active {
	color: #333;
	text-decoration: none;
}
ul,
li {
	list-style: none;
    padding: 0;
    font-size: 1.125em;
}
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: rgb(190,190,190);
  overflow-x: hidden;
  padding-left: 0.25em;
}

.main {
  margin-left: 15%;
  line-height: normal;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
footer {
	position: fixed;
 	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: center;
}
.me {
	border-radius: 50%;
	width: 1em;
	height: 1em;
	display: inline;
}

.hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}

.hvr-float:active,
.hvr-float:focus,
.hvr-float:hover {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px)
}

::-webkit-scrollbar {
	width: 16px
}

::-webkit-scrollbar:horizontal {
	height: 17px
}

::-webkit-scrollbar-corner {
	background: #dfdfdf
}

::-webkit-scrollbar-track {
	background-image: url(track.svg)
}

::-webkit-scrollbar-thumb {
	background-color: #c0c0c0;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
	display: block
}

::-webkit-scrollbar-button:vertical:start {
	height: 17px;
	background-image: url(buttons/button-up.svg)
}

::-webkit-scrollbar-button:vertical:end {
	height: 17px;
	background-image: url(buttons/button-down.svg)
}

::-webkit-scrollbar-button:horizontal:start {
	width: 16px;
	background-image: url(buttons/button-left.svg)
}

::-webkit-scrollbar-button:horizontal:end {
	width: 16px;
	background-image: url(buttons/button-right.svg)
}